<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Keywords {% endblock %}</title>
</head>
<body>
{% extends 'base.html' %}
<section class="page-section">
{% block content %}


<form method="post">
    <div class="form-group">
            <textarea name="content" placeholder="Input text here"
                      class="form-control text-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="btn-control">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

    {% if request.method == 'POST' %}
        <h2>Output :</h2>
        {% for term in result %}
            <p class="result">
            {{ term[0] }} - {{ term[1] }}
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}

</section>

</body>
</html>