<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Translate Text {% endblock %}</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<form method="post">
    <div class="form-group">

            <textarea name="content" placeholder="Input text here"
                      class="form-control text-control">{{ request.form['content'] }}</textarea>

            <div class="select-group">

                <select name="langueEntry" class="form-control select-item">
                        <option value="English">English</option>
                </select>

            <img class="img-trad" src="static/assets/img/arrrow.png" alt="arrrow">

                <select name="langueExit" class="form-control lang-item">

                    {% for l in data %}
                        <option value="{{ l.langue }}">{{ l.langue }}</option>
                    {% endfor %}
                </select>

            </div>
    </div>
    <div class="btn-control">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


    <!--See the result after submit after from-->
    {% if request.method == 'POST' %}
        <h2>Output :</h2>
        <p class="result">
        {{ result }}
        </p>
    {% endif %}

{% endblock %}



</body>
</html>